*{
  margin: 0px;
  padding: 0px;
  border: none;
  color: antiquewhite;
}
body {
  background-color: black;
}
.nav-container {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-menuright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding-left: 40px;
}
.nav-menuright ul {
  display: flex;
  text-decoration: none;
  color: white;
  list-style: none;
  padding-left: 60px;
}
.nav-menuright ul li a{
text-decoration: none;
color: white;
padding: 15px;
font-size: 16px;
}
.nav-logo{
  width: 36px;
  height: 36px;
  padding-right: 20px;
  padding-left: 200px;
}
.nav-menuleft{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.nav-menuleft ul {
  display: flex;
  text-decoration: none;
  color: white;
  list-style: none;
  gap: 20px;
  padding-left: 300px;
}
.nav-menuleft ul li a{
text-decoration: none;
color: white;
padding-left: 25px;
}
.nav-button {
  padding-right: 100px;
}
.nav-button .btn {
  background-color: #2B7FFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
}

.theinput{
  background-color:rgb(17, 17, 17);
  width: 300px;
  display:flex;
  justify-content: space-between;
   border-radius: 20px;

}

.footer{
  background-color: rgb(7, 7, 7);
  border-top-left-radius: 30px ;
  border-top-right-radius: 30px;
  
}

.input_txt{
 padding: 0.7rem;
 background: transparent;
}

.search_button{
  background-color: rgb(86, 86, 255);
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
}

.footerhead{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}